
.pad-xl{
    margin: 50px;;
    padding: 30px;
}
.margem-modal {
    margin: 30px;
}

.modalideia{
    overflow: hidden;
    border: 1px;
    width: 100%;
    float: left;
    display: inline-block;
    

}
.modalideia row{
    border: solid black 1px;
}

.blocoideias{
    position: absolute;
    margin: auto;
    width: 90%;
    text-align: center;
}

.titulo{
    text-align: center; 
    color: black;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;    
}
.sobremim{
    margin: 0px 20px;
    width: 300px;
    display: inline-block;
}

grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(4, 8.33% 8.33% 8.33%);
    grid-template-columns: repeat(12, 8.33%);
    grid-template-columns: repeat(11, 100px) 100px;
    /* minmax(100px, 300px) */
    grid-template-columns: 200px 20% 1fr;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 50% 25% 12.5% 12.5%;
    grid-template-rows: 100px 1fr;
    grid-template-rows: 100px auto auto auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background: #fff;
}

@media (min-width:992px){.modal-lg{width:1200px}}

.parent {
    display: flex;
    flex-direction: column; /*| row-reverse column */
    height: auto;
    width: auto;
    padding: 10px;
  }
  
  .child {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }

.form-control{
    background-color: rgb(156, 226, 226);;
    border: none;
    color: #222;
    border: #222
}

.botao {
    border-radius: 30px;
    padding: 10px 25px;
    /* margin: 10px; */
}

.destaque {
    background: #f50a31;
    color: #fff;
}

.absoluto {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.sticky {
    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 20px;
    width: 20px;
    left: 10px;
    bottom: 20px;
    z-index: 1040;
}
.btn.jumbo {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }